.container{
    max-width: 1920px;
    width: 100%;
    margin: 0 auto;
}
.topHeader{
    width: 100%;
    background-color: black;
}
.accountIcon{
    display: flex;
    align-items: center;
    margin-left: 70%;
}
.userIcon{
    width: 20px;
    height: 20px;
    margin: 5px;
}
.account{
    color: #909090;
    font-size: 14px;
    padding-left: 10px;
}
.ulHeader{
    display: flex;
}
li{
    padding-left: 30px;
    font-size: 14px;
    font-weight: bolder;
}
.bottomHeader{
    display: flex;
    height: 150px;
    align-items: center;
    justify-content: space-around;
}
.logo{
    width: 87px;
    height: 38px;
}
/* search */
.search {
    display: flex;
    justify-content: flex-end;
    width: 10%;
    height: 20px;
}

.input {
    width: 20px;
    transition: all 1s;
}

.img-search {
    height: 20px;
    width: 20px;
    position: absolute;
    cursor: pointer;
}

.style {
    width: 200px;
}
.hidden{
    width: 300px;
    height: 300px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: wheat;
    display: none;
}
.hiddenForm{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
/* first section */
.adventures{
    width: 100%;
    height: 650px;
    background-image: url("./images/nature.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: end;
}
.wkndAdventures{
    max-width: 1164px;
    width: 100%;
    height: 246px;
    background-color: #FFFFFF;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.wkndAdventures h2{
    font-size: 40px;
    padding-left: 25px;
    /* padding-top: 20px; */
}
.wkndAdventures p{
    font-size: 20px;
    padding-left: 25px;
    /* padding-top: 20px; */
}
.wkndAdventures button{
    width: 154px;
    height: 48px;
    margin-left: 25px;
    /* margin-top: 20px; */
    background-color: #FFEB00;
    border: none;
}
/* second section */
.sliderSection{
    max-width: 1084px;
    width: 100%;
    margin: 0 auto;
}
.topSliderSection{
    height: 100px;
    display: flex;
    justify-content: space-between;

}
.circle{
    border-radius: 50px;
    width: 8px;
    height: 8px;
    background-color: #EBEBEB;
}
.circles{
    width: 100px;
    display: flex;
    justify-content: space-around;
}
.left{
    width: 20px;
    height: 20px;
}
.right{
    width: 20px;
    height: 20px;
}
.arrows{
    width: 100px;
    display: flex;
    justify-content: space-around;
}
.leftBottomSliderSection{
    width: 368px;
    height: 487px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.article{
    font-size: 36px;
}
.camping{
    font-size: 24px;
}
.dusty{
    font-size: 14px;
}
.read{
    width: 155px;
    height: 48px;
    background-color: #FFEB00;
    border: none;
}
.stick{
    width: 84px;
    height: 3px;
    background-color: #FFE900;
}
.rightBottomSliderSection{
    width: 716px;
    height: 487px;
}
.bottomSliderSection{
    display: flex;
}
/* third section */
.apisSection{
    max-width: 1084px;
    width: 100%;
    margin: 0 auto;
}
.recent{
    font-size: 36px;
    margin-top: 100px;
}
.stickApi{
    margin-top: 30px;
    width: 84px;
    height: 3px;
    background-color: #FFE900;
}
.mainCardBox{
    overflow-x: hidden;
    display: flex;
    flex-wrap: wrap;
}
.cardBox{
    width: 90%;
    display: grid;
    grid-template-columns: repeat(auto-fit,300px);
    margin: 70px auto;
    justify-content: center;
    grid-gap: 20px;
}
.photo{
    width: 100%;
    height: 200px; 
}

/* fourth section */
.zealand{
    width: 100%;
}
.adventuresZealand{
    font-size: 36px;
    margin-top: 100px;
    padding-left: 110px;
}
.stickZealand{
    margin-top: 30px;
    width: 84px;
    height: 3px;
    background-color: #FFE900;
    margin-left: 110px;
    margin-bottom: 30px;
}
.zealandBackground{
    width: 100%;
    height: 650px;
    background-image: url("./images/mountain.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: end;
}
.zealandAdventures{
    max-width: 1164px;
    width: 100%;
    height: 246px;
    background-color: #FFFFFF;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.zealandAdventures h2{
    font-size: 40px;
    padding-left: 25px;
    /* padding-top: 20px; */
}
.zealandAdventures p{
    font-size: 20px;
    padding-left: 25px;
    /* padding-top: 20px; */
}
.zealandAdventures button{
    width: 154px;
    height: 48px;
    margin-left: 25px;
    /* margin-top: 20px; */
    background-color: #FFEB00;
    border: none;
}
/* fifth section */
.places{
    margin-top: 50px;
}
.places h3{
    font-size: 24px;
    margin-bottom: 50px;
    padding-left: 110px;
}
.boxPlace{
    max-width: 1084px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}
.boxPlace h4{
    font-size: 16px;
    font-weight: bolder;
}
.boxPlace p{
    font-size: 10px;
    color: #909090;
}
.bike{
    width: 256px;
    height: 230px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.bike img{
    width: 100%;
}
.surf{
    width: 256px;
    height: 230px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.surf img{
    width: 100%;
}
.skiing{
    width: 256px;
    height: 230px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.skiing img{
    width: 100%;
}
.river{
    width: 256px;
    height: 230px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.river img{
    width: 100%;
}
.places button{
    margin-top: 20px;
    margin-left: 130px;
    padding: 10px 25px;
    font-size: 14px;
    font-weight: bold;
    background-color: #202020;
    color: white;
    border: none;
    margin-bottom: 100px;
}
/* six section */
.want{
    max-width: 1084px;
    width: 100%;
    height: 204px;
    margin: 0 auto;
    display: flex;
}
.view{
    width: 348px;
    height: 204px;
}
.mail{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.mail h2{
    font-size: 40px;
    padding-left: 30px;
}
.mail p{
    font-size: 14px;
    padding-left: 30px;
}
.signMail{
    padding-left: 30px;
}
.signMail input{
    height: 48px;
    width: 236px;
}
.signMail button{
    padding: 14px 25px;
    background-color: #202020;
    color: white;
}
/* footer */
footer{
    width: 100%;
    height: 234px;
    background-color: #202020;
    margin-top: 100px;
}
.social{
    background-color: white;
    width: 144px;
    height: 48px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.topFooter{
    display: flex;
    justify-content: space-around;
    padding-top: 80px;
}
.footerLi{
    display: flex;
    color: white;
    align-items: center;
}
footer p {
    padding-left: 120px;
    padding-top: 50px;
    font-size: 14px;
    color: #909090;
}